Host ip-172-31-22-155.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-22-78.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-16-156.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-24-111.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-22-155.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-22-155.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-22-65.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu

Host ip-172-31-22-74.ec2.internal
    IdentityFile /mnt/efs/fs1/video-scaler/MPI/SSHHosts.pem
    User ubuntu